<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>just button</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: #f3f4f6; margin: 0;">

    <div style="background-color: #ffffff; padding: 80px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 300px;">
        <a href="{% url 'login' %}"><h2 style="text-align: center; color: #333333; margin-bottom: 20px;">Login</h2></a>
        <a href="{% url 'signup' %}"><h2 style="text-align: center; color: #333333; margin-bottom: 20px;">Signup</h2></a>
    </div>

</body>
</html>
